* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%; // 15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; // 14px
  }
}

:root {
  --background: #020203;

  --primary: #fff;
  --secondary: #8f9199;
  --tertiary: #e5e5e5;
  --quaternary: #828792;

  --link: #00aeff;
}

body {
  background: var(--background);
}

body, button, textarea, input {
  color: var(--primary);
  font: 400 1rem "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }
}
