.container {
  display: flex;

  width: 100%;
  height: 865px;
  margin-top: 108px;

  background-image: url('/background-section.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media(max-width: 1080px) {
    padding-left: 24px;
  }

  @media(max-width: 768px) {
    height: auto;
  }

  @media(max-width: 650px) {
    padding-top: 48px;
    padding-left: 0;
  }
}

.image-ilustration {
  display: flex;

  width: 100%;
  height: 100%;
  margin: 0 56px;

  background-image: url('/ilustation-site-mini.png'), url('/ilustation-site.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;

  @media(max-width: 1080px) {
    margin: 0;
    background-position: right 350px, right center;
    background-size: 700px, 900px;
  }

  @media(max-width: 768px) {
    min-height: 100vh;
    background-position: 350px bottom, 160px bottom;
  }

  @media(max-width: 650px) {
    min-height: 700px;

    background-position: 20px bottom, center bottom;
    background-size: 400px, 550px;
  }
}

.information {
  width: 100%;
  max-width: 1266px;

  margin: 0 auto;

  display: flex;
  align-items: center;

  @media(max-width: 650px) {
    align-items: flex-start;
  }
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  img {
    width: 133px;
    height: auto;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    row-gap: 24px;

    li {
      display: flex;
      align-items: center;
      column-gap: 16px;

      font-size: 1.125rem;
      line-height: 2rem;
      color: var(--quartenary);

      svg {
        width: 18px;
        height: auto;
        color: var(--link);
      }

    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;

    width: 266px;
    height: 52px;

    margin: 10px 0 18px;

    border: 0;
    border-radius: 4px;
    background: var(--link);

    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;

    transition: filter 0.2s;

    svg {
      width: 20px;
      height: auto;
      color: var(--primary);
    }

    &:hover {
      filter: brightness(0.96);
    }
  }

  @media(max-width: 768px) {
    h2 {
      max-width: 250px;
    }
  }

  @media(max-width: 650px) {
    row-gap: 18px;
    padding-left: 24px;

    h2 {
      font-size: 1.75rem;
      line-height: 1.875rem;

      max-width: 100%;
    }

    ul {
      row-gap: 12px;

      li {
        column-gap: 12px;
        font-size: 1rem;
      }
    }

    button {
      font-size: 0.875rem;

      height: 44px;
      margin: 6px 0 12px;
    }
  }
}

.download-mobile {
  display: flex;
  align-items: center;
  column-gap: 18px;

  svg {
    width: 14px;
    height: auto;
    color: var(--primary)
  }

  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    color: var(--tertiary);

    width: 100%;
    max-width: 238px;

    a {
      text-decoration: underline;
    }

    @media(max-width: 768px) {
      max-width: 100%;
    }
  }

  @media(max-width: 650px) {
    column-gap: 8px;
  }
}
